bin
obj
*.suo
*.user
*~
*.data
*.ReSharper
CI
Data
Log
Build/Artifacts
Build/Backup
Build/CompileLogs
Build/Temp
Build/UpgradeLog.XML
*.cache
Product/ReleaseBin
Product/Database/Migrations/WorkingTemp
*.log
Build/FxCop/
Build/SimianReport/
Build/nDepend/
Build/stage/
SampleFiles
*.msi
Product/ProjectInfo.cs
Build/Unit Test Reports
Build/Unit Test Reports/*
Product/Production/OSTRICH/Bin
Product/PrecompiledWeb
TestFiles
Thumbs.db
*.dxcache
_ReSharper*
ThirdParty/Fitnesse/FitNesseRoot
*.db
*.nccov
*.nccov.bkp
*.trend
*.dbmdl
*.dbproj.schemaview
Product/Database/sql/debug/Ris.Fx.Database.dll
Product/Database/sql/debug/Ris.Fx.Database.pdb
Product/Database/sql/debug/Ris.Fx.Database.sql
*.vsp
Product/Database/sql/release/
Product/TestResults/Fx.TE.Tests.mdf
Product/TestResults/Fx.TE.Tests_log.ldf
Product/packages/
node_modules
Product/Production/Ris.Fx.Web/Scripts/generated/